* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: white;
    color: #314B5E;;
    font-family: 'Courier New', Courier, monospace;
}

header {
    padding: 20px 120px;
    background: #73B1DE;
    color: white;
    font-size: 22px;
    position: sticky;
    top: 0;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

.nav a.current, .nav a:hover, .nav a:active {
    border-bottom: 5px solid white;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

li {list-style-type: none;}

.section {
    min-height: 100vh;
    padding: 60px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section:nth-child(2n) {
    background: #527E9E;
    color: lightgray;
}

.section:nth-child(4n) {
    background: #679FC7;
    color: lightgray;
}

h2, h3 {
    font-size: 60px;
    font-weight: normal;
    text-transform: uppercase;
}

/* Координаты на странице, задание 1 */
.buttonShownOnScroll {
    outline: none;
    border: none;
    background: #314B5E;
    padding: 10px;
    color: lightgray;
    font-size: 18px;
    position: sticky;
    bottom: 0px;
    right: 0;
    opacity: 0;
    transition: all 0.5s ease-in;
    cursor: pointer;
}

/* Координаты на странице, TABS-блок, задание 2 */
.tab {
    display: flex;
    justify-content: flex-end;
    width: 600px;
}

.tab__link {
    background: #314B5E;
    color: lightgray;
    border: none;
    outline: none;
    padding: 10px;
    transition: 0.5s;
}

.tab__link:hover {
    background: lightgray;
    color: #314B5E;
}

.tab__link.active {
    background: lightgray;
    color: #314B5E;
}

.tab__content {
    width: 600px;
    height: 200px;
    overflow: hidden;
    padding: 15px;
    background: lightgray;
    display: none;
    color: dimgray;
    animation: fadeEffect 2s;
}

.tab__content h1 {
    font-weight: 600;
    font-size: 18px;
}

@keyframes fadeEffect {
    from {color: rgba(0,0,0,0);}
    to {color: dimgray;}
}

/* Dropdown */
.dropbtn {
    background: #73B1DE;
    font-family: inherit;
    font-size: inherit;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.dropbtn::after {
    content: "\25B2";
}

.dropbtn:hover, .dropbtn:focus {
    outline: none;
}

.dropbtn:hover::after, .dropbtn:focus::after {
    content: "\25BC";
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #73B1DE;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}


footer {
    height: 600px;
    background: #333;
    color: lightgray;
    padding: 40px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Убегающий блок */
.field {
    width: 800px;
    height: 400px;
    background: lightgray;
    position: relative;
}

.runner {
    background: #73B1DE;
    height: 80px;
    width: 80px;
    position: absolute;
    cursor: pointer;
}